@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$color-pink: #F16D7F;
$background-color:#F8F3F4;
$color-text:#222222;
$color-white:#FFFFFF;

@mixin size($width, $height){
  width: $width;
  height: $height;
}

.body-class {
  width: 100%;
  margin: 0 auto;
  font-family: Lato;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section{
  width: 100%;
  min-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__title {
  width: 100%;
  height: 148px;
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-title__text{
  @include size(194px, 29px);
  font-weight:400;
  font-size: 24px;
  line-height: 29px;
  color: $color-pink;
  margin-right: calc(25% + 300px);
  text-transform: uppercase;
}
.section__order{
  display: flex;
  @include size(100%, 775px);
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 96px;
  gap: 128px;
}
.section-order-purchases{
  @include size(652px, 652px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
    &__first-purchase{
      @include size(652px, 306px);
      display: flex;
      flex-direction: row;
      gap: 31px;
      box-shadow: 20px 20px 15px #E5E5E5;
    }
    &__text{
      @include size(262px, 222px);
      display: flex;
      gap: 6px;
      flex-direction: column;
    }
    &__buttons{
      display: flex;
      flex-direction: row;
      gap: 193px;
      @include size(652px, 50px);
      justify-content: center;
    }
}
.purchases-men{
  @include size(262px, 306px);
}
.section-order-purchases-text__title{
  @include size(262px, 58px);
  font-weight:400;
  font-size: 24px;
  line-height: 29px;
  color: $color-text;
  margin: 20px auto;
  text-transform: uppercase;
}
.section-order-purchases-text__text-elements{
  @include size(105px, 26px);
  font-weight:400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.section-order-purchases-text__price-numbers{
  @include size(22px, 26px);
  font-weight:400;
  font-size: 22px;
  line-height: 26px;
  color: #EF5B70;
  margin-left: 3px;
}
.section-order-purchases-text__btn{
  background-color: $color-white;
  color: #656565;
  border: 1px solid #EAEAEA;
  @include size(44px, 25px);
  font-size: 18px;
  line-height: 22px;
  font-weight:400;
  transition: all 0.2s linear;
  margin-left: 10px;
}
.section-order-purchases-text__btn:hover{
  background-color: #F5F3F3;
}
.purchases-close{
  @include size(18px, 18px);
  margin-top: 25px;
  margin-left: 20px;
}
.section-order-purchases-buttons__btn{
  @include size(234px, 49px);
  font-size: 14px;
  font-weight:300;
  line-height: 17px;
  color: #000000;
  background-color: $color-white;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
}
.section-order-purchases-buttons__btn:hover{
  background-color: #F5F3F3;
}
.section-order__forms-and-results{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  @include size(360px, 544px);
  gap: 21px;
}
.section-order-forms{
  @include size(360px, 272px);
  display: flex;
  flex-direction: column;
  gap: 20px;
    &__title{
      @include size(180px, 19px);
      font-weight:300;
      font-size: 20px;
      line-height: 19px;
      color: $color-text;
      text-transform: uppercase;
    }
    &__order-form{
      @include size(360px, 201px);
      gap: 15px;
      display: flex;
      flex-direction: column;
    }
}
.order-form__values{
  @include size(346px, 45px);
  font-weight:300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-left: 10px;
  border: 1px solid #A4A4A4;
}
.order-form__btn{
  @include size(100px, 36px);
  font-weight:300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  background-color: $color-white;
  text-transform: uppercase;
}
.order-form__values:hover{
  background-color: $background-color;
}
.order-form__btn:hover{
  background-color: $background-color;
}
.section-order-results__blocks{
  margin-top: 50px;
  @include size(360px, 214px);
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #F5F3F3;
}
.section-order-results-blocks__text{
  display: flex;
  align-items: flex-end;
  gap: 12px;
  flex-direction: column;
  margin-top: 39px;
}
.section-order-results-blocks__sub{
  @include size(145px, 13px);
  font-weight:400;
  font-size: 13px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
}
.section-order-results-blocks__sub-price{
  @include size(145px, 13px);
  font-weight:400;
  font-size: 13px;
  line-height: 13px;
  color: #4A4A4A;
  margin: auto 20px;
}
.section-order-results-blocks__grand{
  @include size(190px, 19px);
  font-weight:300;
  font-size: 16px;
  line-height: 19px;
  color: $color-text;
  text-transform: uppercase;
}
.section-order-results-blocks__grand-price{
  @include size(190px, 19px);
  font-weight:300;
  font-size: 16px;
  line-height: 19px;
  color: $color-pink;
  margin: auto 20px;
}
.hr{
  @include size(275px, 1px);
  border: 1px solid #E2E2E2;
}
.section-order-results-blocks__btn{
  @include size(273px, 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:300;
  font-size: 16px;
  line-height: 19px;
  color: $color-white;
  background-color: $color-pink;
  border: 1px solid $color-pink;
  margin-left: 50px;
  margin-top: -5px;
  text-transform: uppercase;
}
.section-order-results-blocks__btn:hover{
  background-color: $color-white;
  color: $color-pink;
  border: 1px solid $color-pink;
}
/*block subscribe*/
.subscribe {
  @include size(100%, 448px);
  background-image: url("../../image/subscribe-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 224px;
}
.subscribe-message {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  @include size(360px, 225px);
  &__women{
    @include size(96px, 96px);
  }
  &__text{
    @include size(360px, 99px);
    text-align: center;
    font-size: 20px;
    font-weight:400;
    line-height: 24px;
    color: #222224;
    text-transform: none;
  }
}
.subscribe-btn-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include size(557px, 142px);
  &__text-first{
    font-weight:700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
    text-transform: none;
  }
  &__text-two{
    font-weight:400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    text-transform: none;
  }
}
.input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -10px;
  @include size(356px, 49px);
  margin-top: 32px;
  &__text{
    background-color: #E1E1E1;
    border: 1px solid #E1E1E1;
    border-radius: 25px 0px 0px 25px;
    @include size(256px, 49px);
    font-size: 14px;
    font-weight:400;
    line-height: 17px;
    text-align: center;
  }
  &__button{
    background-color: $color-pink;
    border: 1px solid $color-pink;
    border-radius: 0 25px 25px 0;
    @include size(100px, 53px);
    font-size: 14px;
    font-weight:400;
    line-height: 17px;
    text-align: center;
    color: $color-white;
    transition: all 0.2s;
  }
}
.input-btn__button:hover {
  background-color: $color-white;
  color: $color-pink;
  border: 1px solid $color-pink;
}
.input-btn__text:hover {
  color: black;
  background-color: $color-white;
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
  .section{
    min-width: 768px;
    max-width: 1600px;
  }
  .section__title {
    min-width: 768px;
  }
  .section-title__text{
    margin-right: calc(25% + 120px);
  }
  .section__order{
    height: 1150px;
    flex-flow: column nowrap;
    margin-top: 59px;
    gap: 65px;
    align-items: center;
  }
  .section-order-purchases{
    @include size(734px, 765px);
  }
  .section-order-purchases__first-purchase{
    width: 734px;
  }
  .purchases-close{
    margin-left: 90px;
  }
  .section-order-purchases__buttons{
    gap: 49px;
    @include size(517px, 49px);
    margin-left: 125px;
  }
  .section-order-purchases-buttons__btn{
    @include size(234px, 49px);
  }
  .section-order__forms-and-results{
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 350px;
  }
  .section-order-forms__title{
    width: 140px;
    font-size: 16px;

  }
  .section-order-forms__order-form{
    @include size(360px, 232px);
  }
  .order-form__values{
    width: 346px;
  }
  .order-form__btn{
    height: 34px;
  }
  .section-order-results__blocks{
    margin-top: 38px;
  }
  .section-order-results-blocks__btn{
    margin-right: 50px;
  }
  /*block subscribe*/
  .subscribe {
    height: 693px;
    flex-direction: column;
    gap: 48px;
  }
  .input-btn__button{
    margin-top: 1px;
  }
}