/*footer*/
/*footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 79px;
    background-color: #222224;
    gap: 550px;
}
.footer__text {
    width: 332px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FBFBFB;
    text-transform: none;
}
.footer__link {
    display: flex;
    gap: 7px;
    width: 148px;
    height: 32px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.footer-link-img__social {
    width: 12px;
    height: 12px;
    filter: brightness(0);
}
.footer-link-img__social:hover{
    filter: brightness(1);
}
.footer-link__img {
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    filter: brightness(1);
}
.footer-link__img:hover {
    background-color: #F16D7F;
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
    /*footer*/
    .footer {
        gap: 305px;
    }
    .footer__text {
        width: 251px;
    }
}